:root {
  --Scissors: hsl(40, 84%, 53%);
  --Paper: hsl(230, 89%, 65%);
  --Rock: hsl(349, 70%, 56%);
  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);
  --Background: linear-gradient(180deg, #1F3756 0%, #141539 70%)
}

// - Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
// - Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
// - Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
// - Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
// - Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

@font-face {
  font-family: "Barlow";
  src: url('./assets/Fonts/BarlowSemiCondensed-Regular.ttf');
}
@font-face {
  font-family: "Barlow Bold";
  src: url('./assets//Fonts/BarlowSemiCondensed-Bold.ttf');
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Barlow";
}

#root {
  height: 100%;
  width: 100%;
}